<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<!-- Custom Theme files -->

<!-- Custom Theme files -->
<link href="metronic/assets/global/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<!-- <link href='http://fonts.useso.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'> -->
<!-- <link href='http://fonts.useso.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->
<!--Google Fonts-->
</head>
<body>
<div class="login">
	<h2>个人在线简历</h2>
	<div class="login-top">
		<h1>LOGIN</h1>
		<form method="post" action="index">
			<!-- <input type="text" value="User Id" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Id';}"> -->
			<input type="password" value="" name="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
	    <div>
	    	<p>message:<%= message %></p>
	    </div>
	    <br>
	    <div class="forgot">
	    	<input type="submit" value="login" >
	    </div>
	    <br> 
	  
	     <div class="forgot">
	    	<input type="submit" value="访客登录" >
	    </div>
	</div>
	</form>
	<div class="login-bottom">
		
	</div>
</div>	
<div class="copyright">
	<p>Copyright &copy;个人在线简历
 </p>
</div>


</body>
</html>
