 <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false"
                data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px">
                <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
                <li class="sidebar-toggler-wrapper hide">
                    <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                    <div class="sidebar-toggler"></div>
                    <!-- END SIDEBAR TOGGLER BUTTON -->
                </li>
                <li class="nav-item start active open">
                   <a href="/personData" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">个人信息</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                </li>
                 <li class="nav-item start active open">
                   <a href="/resume" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">简历下载</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                </li>
                <li class="nav-item start active open">
                    <a href="/message" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">
                            留言</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                </li>
                <!-- <li class="nav-item start active open">
                    <a href="/coustompage" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">
                            Custom page</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                </li> -->
                 <!-- <li class="nav-item start active open">
                    <a href="/index?loginout=out" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">登出</span>
                        <span class="selected"></span>
                        <span class="arrow open"></span>
                    </a>
                </li> -->
            </ul>
