
<%- include includejs %>
<!-- END HEAD -->
<div class="page-container">
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">
            <%- include navigation %>
        </div>
    </div>
    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="/personData">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span> personal data</span>
                    </li>
                </ul>
            </div>
                <div id="logshow" class="row">
                    <div class="portlet box green flip-scroll"> 
                         <!-- <iframe src="/personData.html" width="100%" height="800"></iframe>       -->
                         <iframe src="/personShow" width="100%" height="800"></iframe>
                    </div>

                </div>
            </div>
        </div>
        <!-- END CONTENT BODY -->
    </div>
  
</div>
<script type="text/javascript">
    


</script>>

<%- include foot %>